body{
    overflow:hidden;
}
.triangle{
    position:absolute;
    right: 20%;
    bottom:40%;
}
.triangle::after{
    display: block;
    filter: blur(5px);
}
.circle{
    position:absolute;
    left:10%;
    top:40%;
    -webkit-animation: xAxis 4s infinite cubic-bezier(1, 0.04, 0.49, 0.93);
    animation: xAxis 4s infinite cubic-bezier(1, 0.04, 0.49, 0.93);
}
.blur{
    filter: blur(5px);
}
.circle::after {
    content: '';
    display: block;
    filter: blur(5px);
    will-change: transform;
    width: 60px;
    height: 60px;
    left:40%;
    top:40%;
    border-radius: 50%;
    background-color: #000;
    -webkit-animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation: yAxis 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}

.square{
    position: absolute;
    
    right: 10%;
    bottom: 30%;
    -webkit-animation: xAxis_S 4.5s infinite cubic-bezier(0.08, 1.1, 0.96, -0.15);
    animation: xAxis_S 4.5s infinite cubic-bezier(0.08, 1.1, 0.96, -0.15);
}
.square::after{
    content: '';
    display: block;
    background: #000;
    height: 90px;
    width: 90px;
    -webkit-animation: yAxis_S 6s infinite cubic-bezier(0, 0.32, 0.29, 1.02);
    animation: yAxis_S 6s infinite cubic-bezier(0, 0.32, 0.29, 1.02);
}

@-webkit-keyframes yAxis {
50% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
}
}

@keyframes yAxis {
50% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
}
}

@-webkit-keyframes xAxis {
50% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
}
}

@keyframes xAxis {
50% {
    -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
}
}
@-webkit-keyframes yAxis_S {
    25%{
        -webkit-transform: rotateZ(25deg);
        transform: rotateZ(25deg);
    }
    50% {
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
        -webkit-transform: translateY(-100px) scale(0.6, 0.6);
        transform: translateY(-100px) scale(0.6, 0.6);
    }
    }
    
    @keyframes yAxis_S {
    25%{
        -webkit-transform: rotateZ(25deg);
        transform: rotateZ(25deg);
    }
    50% {
        -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
        -webkit-transform: translateY(-100px) scale(0.6, 0.6);
        transform: translateY(-100px) scale(0.6, 0.6);
    }
    }
    
    @-webkit-keyframes xAxis_S {
    
    50% {
        -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
        animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    60%{
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
    }
    }
    
    @keyframes xAxis_S {
        
    50% {
        -webkit-animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
        animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    60%{
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
}
    }
#canvas {
    position:absolute;
    display:block;
    filter: blur(5px);
    z-index: -1;
    top:110px;
}