body{
    margin:0;
}

ul{
    margin:0;
    padding:0;
}

.leftbar ul li{
    color:#dedede;
}
.leftbar ul{
    font-size:12px;
    
}
.leftbar{
    background: #4c79a9;
    min-width: 375px;
    width: 20%;
    height:100%;
    color: #fff;
}

.childRoot, #root{
    height:100%;
}

.headerName{
    padding: 10px 20px;
    font-size:30px;
    font-weight:800;
}

.header{
    background: #3f668c;
}


.listQuestions ul li{
    list-style: none;
    padding: 7px 20px 7px 60px;
    transition: 0.25s;
}

.listQuestions ul li:hover{
    background: #3f668c !important;
    transition: 0.25s;
    color: #fff;
}

.Q_title{
    font-size: 18px;
    margin-left: 8px;
    position: relative;
}

.listHeader{
    padding:5px 30px;
    cursor: pointer;
    transition:0.2s;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}
.listHeader:hover{
    background: #3f668c;
    transition:0.2s;
}
/*
this is when folder is clickd
.List ul{
    height: 0;
    overflow: hidden;
}*/
.selected{
    background:#3f668c !important;
}

.list_q_spacing{
    margin-left:5px;
}

.rightMenu a{
    text-decoration: none;
    color: white;
    margin-right:5px;
    padding:5px;
    border-radius: 50%;
    border: 1px solid #4c79a9;
    transition:0.25s;
}
.listQuestions ul{
    background: #46739c;
}
.rightMenu .right-main-menu:hover{
    color: #4c79a9;
    border: 1px solid #fff;
    background:#fff;
    transition:0.25s;
}

.rightMenu{
    /*text-align:right;*/
    height:45px;
    background:#4c79a9;
    margin-bottom: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}
.dropdown-plus{
    margin-top:26px;
    background:#fff;
    float:right;
    position:absolute;
    z-index:1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow: hidden;
    height: 0;
    transition:1s;
}


.dropdown-plus a{
    border: none;
    color: #3f668c;
    display:block;
    min-width: 75px;
    font-size: 12px;
    text-align: left;
    padding-left: 15px;
    margin:0;
}
.dropdown-plus a:hover{
    background: #dedede;
    border: none;
    border-radius: 0;
}

.main-menu-wrapper li{
    float:right;
    list-style-type: none;
}

.main-menu-wrapper{
    height:10px;
    margin:0;
    padding-top:15px;
}

.dropdown-plus.show{
    height:auto;
    animation: dropdownActive 0.3s forwards;
}

@keyframes dropdownActive{
    0%{
        height: 0
    }

    100%{
        height:50px;
    }
}

.cf_wrapper{
    padding: 5px 0 5px 30px;
    margin-bottom: 15px;
}

.cf_input{
    color: #fff;
    background: transparent;
    border: 0;
    margin-left:10px;
    font-size:16px;
    border: 2px solid #4aa2ec;
    border-radius:5px; 
    background: #528bbb;
    width:230px;
    padding: 5px;
}

.cf_buttons{
    margin-right:10px;
    float:right;
    margin-top: 6px;
}
.cf_create{
    margin-right:4px;
    color:#00da00;
    padding: 4px 2px !important;
}
.cf_cancel{
    color: #d60202;
}

.cf_buttons span{
    padding:4px;
    cursor:pointer;
    border-radius: 10px;
    transition:0.2s;
}

.cf_create:hover{
    background: #00da00;
    color: #fff;
    transition:0.2s;
}

.cf_cancel:hover{
    background: #d60202;
    color: #fff;
    transition:0.2s;
}